.calendar-month .grid>div[data-v-31bb8e91]{min-height:120px}.calendar-week .grid>div[data-v-31bb8e91],.calendar-day .grid>div[data-v-31bb8e91]{min-height:64px}.group:hover .group-hover\:opacity-100[data-v-31bb8e91]{opacity:1}
